* {margin: 0;padding: 0;box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
header {
	width: 100%;height: 50px; background: rgba(100, 100, 00, 0.2);
}
h1{
	font-family: Comfortaa;
	font-size: 16px;
	color: rgba(155, 20, 30, 0.7);
	padding: 18px;
}
p{
	font-family: Comfortaa;
	font-size: 16px;
	color: black;
	padding-left: 20px;
}